@model Sweet

@{
    ViewData["Title"] = Model.SweetName;
}

<h1>@Model.SweetName</h1>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.SweetName">
                </div>
                <div class="col-md-8">
                        <h5 class="card-body">
                            @Model.Brand.BrandName @Model.SweetName
                        </h5>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success"><i class="bi bi-cart-plus"></i> @((Model.PriceInPence / 100d).ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
